<h1>List of Users</h1>
<hr />

<table>
  <tr>
    <th style="padding-right: 10px; text-align: center">Index</th>
    <th style="padding-right: 10px; text-align: center">UserName</th>
    <th style="padding-right: 10px; text-align: center">Email</th>
    <th style="padding-right: 10px; text-align: center">Gender</th>
    <th style="padding-right: 10px; text-align: center">IsAdmin</th>
    <th style="padding-right: 10px; text-align: center">LastUpdated Time</th>
    <th style="padding-right: 10px; text-align: center">AnsweredQuotes Number</th>
  </tr>
  <tr *ngFor="let user of userList; let i = index">
    <td style="text-align: center">{{i}}</td>
    <td style="text-align: center">{{user.userName}}</td>
    <td style="text-align: center">{{user.email}}</td>
    <td style="text-align: center">{{user.gender}}</td>
    <td style="text-align: center">{{user.isAdmin}}</td>
    <td style="text-align: center">{{user.lastUpdatedDateTime}}</td>
    <td style="text-align: center">{{user.answeredQuotesCount}}</td>
    <td>
      <button type="button"
              class="btn btn-primary"
              (click)="onEdit(i)">
        Edit
      </button>
    </td>
    <td>
      <div *ngIf="!user.isDisabled; else restore">
        <button type="button"
                class="btn btn-warning"
                (click)="onDisable(i)">
          Disable
        </button>
      </div>
      <ng-template #restore>
        <button type="button"
                class="btn btn-success"
                (click)="onRestore(i)">
          Restore
        </button>
      </ng-template>
    </td>
    <td>
      <div>
        <button type="button"
                class="btn btn-danger"
                (click)="onDelete(i)">
          Delete
        </button>
      </div>
    </td>
  </tr>
</table>
